# ESP-IDF Build Artifacts
build/
sdkconfig
sdkconfig.old
dependencies.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data Files (DO NOT commit large datasets)
*.csv
*.log
*.dat
*.bin
*.json

# IDE and Editor
.vscode/settings.json
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
desktop.ini

# Temporary Files
*.tmp
*.bak
*.cache


xgboost-2.1.3-py3-none-win_amd64.whl

ppg_env

05_Data_Storage

04_Filtered
05_Features_
06_Averaged_Features

08_Results_and_Visualizations

04_Filtered
Inference_Engine_Outputs
